<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <title>Basic Usage</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch'
          href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


<div ng-controller="DemoCtrl">

    <div flex id="app" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">

        <header>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>BTC Calculator {{myname}}</span></h2>
                </div>
            </md-toolbar>
        </header>

        <div layout="row" layout-xs="column">
            <div id="right-block" flex="none">

                <md-content md-theme="docs-light" layout-gt-sm="row" layout-padding="">
                    <div>

                    </div>
                </md-content>

                <md-content md-theme="docs-light" layout-gt-sm="row" layout-padding="">

                    <form name="userForm">
                        <div layout-gt-xs="row">
                            <div layout-gt-xs="row">
                                <div>
                                </div>

                                md-input-container class="md-block" flex-gt-xs="">
                                <label>Hashrate:</label>
                                <input type="number" id="userHash" ng-model="userHash" ng-change="computeProfits()"
                                />
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="">
                                    <select ng-model="userHashSuffix" ng-change="computeProfits()">
                                        <option value="GH" selected="selected" ng-init="userHashSuffix = 'GH'">GH/s
                                        </option>
                                        <option value="TH">TH/s</option>
                                        <option value="PH">PH/s</option>
                                    </select>
                                </md-input-container>

                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>Net Difficulty:</label>
                                <input type="number" ng-model="difficulty" ng-change="computeProfits()"/></td>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>BTC Price:</label>
                                <input type="number" ng-model="price" ng-change="computeProfits()"/>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <select ng-model="currency" ng-change="fetchPriceOnly()">
                                    <option value="USD" ng-init="currencyCode = 'USD'">USD</option>
                                    <option value="CNY">CNY</option>
                                    <option value="CAD">CAD</option>
                                    <option value="AUD">AUD</option>
                                </select>
                            </md-input-container>

                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>Block Reward:</label>
                                <input type="number" ng-model="reward" ng-change="computeProfits()"/>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-xs="">
                                <label>Power Consumption:</label>
                                <input type="number" ng-model="wattage" ng-change="computeProfits()"
                                       ng-init="wattage = 0"/>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <select ng-model="powerSuffix" ng-change="computeProfits()">
                                    <option value="W" selected="powerSuffix" ng-init="powerSuffix = 'W'">W</option>
                                    <option value="kW">kW</option>
                                </select>
                            </md-input-container>
                        </div>

            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs="">
                    <label>Power Cost:</label>
                    <input type="number" ng-model="powerCost" ng-change="computeProfits()"
                           ng-init="powerCost = 0"/>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs="">
                    <label>Pool Fee:</label>
                    <input type="number" ng-model="poolFee" ng-change="computeProfits()"
                           ng-init="poolFee = 0"/>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs="">
                    <label>Difficulty Increase:</label>
                    <input type="number" ng-model="nextDifficulty" ng-change="computeProfits()"
                           ng-init="nextDifficulty = 5"/>
                </md-input-container>
            </div>
            </form>

            </md-content>
        </div>

        <div layout="column" id="left-block" flex>
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
                <div layout-margin layout-fill>
                    <h2>This Difficulty</h2>
                    <table id="charttable" align="center">
                        <thead>
                        <tr>
                            <th>Period</th>
                            <th>BTC</th>
                            <th>{{currency}}</th>
                            <th>Power Cost ({{currency}})</th>
                            <th>Pool Fees ({{currency}})</th>
                            <th>Profit ({{currency}})</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Hourly</td>
                            <td>{{values[0][0]|number:6}}</td>
                            <td>{{values[1][0]|currency}}</td>
                            <td>{{values[2][0]|currency}}</td>
                            <td>{{values[3][0]|currency}}</td>
                            <td ng-class="{negative: values[4][0] < 0}">{{values[4][0]|currency}}</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>{{values[0][1]|number:6}}</td>
                            <td>{{values[1][1]|currency}}</td>
                            <td>{{values[2][1]|currency}}</td>
                            <td>{{values[3][1]|currency}}</td>
                            <td ng-class="{negative: values[4][1] < 0}">{{values[4][1]|currency}}</td>
                        </tr>
                        <tr>
                            <td>Weekly</td>
                            <td>{{values[0][2]|number:6}}</td>
                            <td>{{values[1][2]|currency}}</td>
                            <td>{{values[2][2]|currency}}</td>
                            <td>{{values[3][2]|currency}}</td>
                            <td ng-class="{negative: values[4][2] < 0}">{{values[4][2]|currency}}</td>
                        </tr>
                        <tr>
                            <td>Monthly</td>
                            <td>{{values[0][3]|number:6}}</td>
                            <td>{{values[1][3]|currency}}</td>
                            <td>{{values[2][3]|currency}}</td>
                            <td>{{values[3][3]|currency}}</td>
                            <td ng-class="{negative: values[4][3] < 0}">{{values[4][3]|currency}}</td>
                        <tr>
                            <td>Annually</td>
                            <td>{{values[0][4]|number:6}}</td>
                            <td>{{values[1][4]|currency}}</td>
                            <td>{{values[2][4]|currency}}</td>
                            <td>{{values[3][4]|currency}}</td>
                            <td ng-class="{negative: values[4][4] < 0}">{{values[4][4]|currency}}</td>
                        </tr>
                        </tbody>





<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>
<script src="js/index.js"></script>
<!-- <script src="js/app.js"></script> -->
<script src="js/Chart.min.js"></script>

</body>
</html>